DART_API_KEY=your_dart_api_key_here
ECOS_API_KEY=your_ecos_api_key_here

DB_HOST=localhost
DB_PORT=5432
DB_NAME=stockapp
DB_USERNAME=stockapp
DB_PASSWORD=stockapp

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
